$dark: #ffffff;
$color--primary: #7b00ff;
$grad-1: #232526;
$grad-2: #414345;
$highlt: #FF0060;

html,body{
  width: 100%;
  height: 100%;
}

body{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

body {
  //gradient bg
  text-align: center;
  background: linear-gradient(270deg,$grad-1, $grad-2);
  opacity: 30;
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 92%}
      50%{background-position:100% 9%}
      100%{background-position:0% 92%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 92%}
      50%{background-position:100% 9%}
      100%{background-position:0% 92%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 92%}
      50%{background-position:100% 9%}
      100%{background-position:0% 92%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 92%}
      50%{background-position:100% 9%}
      100%{background-position:0% 92%}
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: pre-line;
  font-weight: 700;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 4.8rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #dadadada;
  text-decoration: none;
  #some {
    padding-left: 8%;
    padding-right: 8%;
    display: inline-block;
    text-align: left;
    font-size: 4rem;
    #with-anim{
      background: linear-gradient(45deg, #dadadada 20%, $highlt 40%, $highlt 60%, #dadadada 80%);
      background-size: 300% auto;
      color: #000;
      font-family: 'Oleo Script', cursive;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradient 10s ease infinite;
      @keyframes gradient {
        50% {
          background-position: 100% 0;
        }
      }
    }
  }
}
#top{
  a{
    color: #dadadada;
    position: fixed;
    text-align: right;
    top: 20px;
    right: 50px;
  }
}
.hide {
  opacity: 0;
}
