$dark: #555;
$color--primary: #7b00ff;

body {
  //gradient bg
  text-align: center;
  background: linear-gradient(270deg, #005aa88a, #fffde58a);
  opacity: 50;
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 92%}
      50%{background-position:100% 9%}
      100%{background-position:0% 92%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 92%}
      50%{background-position:100% 9%}
      100%{background-position:0% 92%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 92%}
      50%{background-position:100% 9%}
      100%{background-position:0% 92%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 92%}
      50%{background-position:100% 9%}
      100%{background-position:0% 92%}
  }
}
//box shit
.cardsbg{
  margin:auto;
  text-align: left;
  padding: 10px;
  .box {
    overflow: auto;
    transition: 0.3s;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-radius: 8px;
    background: #ffffff;
    position: relative;
    min-width: 50%;
    // max-width: 70.33333%;
    padding: 20px;
    box-shadow: 6px 8px 6px rgba(100,100,100,0.4);
    .box:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .cardheading{
      color: #686868;
      font-family: "Archivo Narrow", sans-serif;
      font-size: 30px;
      font-style: normal;
      font-stretch: normal;
      font-weight: 500;
      line-height: 50px;
      text-align: left;
      text-transform: none;
      letter-spacing: 0px;
    }
    .carditems{
      white-space:pre-wrap;
      color: #686868;
      font-family: "PT Sans", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-stretch: normal;
      font-weight: 500;
      line-height: 35px;
      text-align: left;
      text-transform: none;
      letter-spacing: 0px;
    }
  }
}


.typo {
  font-size: 60px;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  color: #585858;
  text-decoration: none;
  option {
    font-size: 30px;
  }
}

.transition {
  transition: all .4s ease-in-out;
}

.wrapper {
  padding-top: 150px;
  height: 100vh;
  font-size: 60px;
}

.list {
  display: inline-block;
  position: relative;
  //border: 1px solid red;
  margin-left: 6px;
  ul {
    text-align: left;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    display: none;
    .active {
      display: block;
    }

  }
  li {
    list-style:none;
    &:first-child a {
      color: desaturate($color--primary, 50%);
    }
  }
  a {
    @extend .typo;
    transition: all .4s;
    color: $color--primary;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      height: 5px;
      width: 0;
      left: 0;
      background: lighten($color--primary, 20%);
      bottom: 0;
      transition: all .4s ease-out;
    }
    &:hover {
      cursor: pointer;
      color: lighten($color--primary, 20%);
      &:after {
        width: 100%;
      }
    }
  }
}

select {
  display: inline;
  border: 0;
  width: auto;
  margin-left: 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-bottom: 2px solid $dark;
  color: $color--primary;
  transition: all .4s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  option {
    border: 0;
    border-bottom: 1px solid $dark;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.placeholder {
  //visibility: hidden;
  //position: fixed;
  border-bottom: 4px solid;
  cursor: pointer;
  &:hover {
    color: lighten($dark, 20%);
  }
}

.hide {
  opacity: 0;
}
